body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

nav ul {
	display: flex;
    height: 10px;
}

nav li {
	margin: 0 10px;
    height: 10px;
}

nav a {
	color: rgb(12, 12, 12);
	text-decoration: none;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

nav a:hover {
	background-color: white;
	color: #333;
}

  
  nav ul li a:hover {
    color: #FF8C00;
  }
  

/* Estilos para a seção "hero" */
.hero {

    background-image: url('https://goldpet.pt/modules//smartblog/images/2090-single-default.jpg');
    background-size: cover;
    background-position: center;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero h1 {
    color: #080808;
    font-size: 3rem;
    margin: 0;

}

.hero p {
    color: #080808;
    font-size: 1rem;
    margin: 0 0 2rem 0;
}

/* Estilos para a seção "about" */
.about {
    background-color: #f2f2f2;
    padding: 4rem 0;
    text-align: center;
}

.about h2 {
    font-size: 3rem;
    margin: 0 0 2rem 0;
}

.about p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 2rem auto;
}

/* Estilos para a seção "dogs" */
.dogs {
    padding: 4rem 0;
    text-align: center;
}

.dogs h2 {
    font-size: 3rem;
    margin: 0 0 2rem 0;
}

.dog-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
    width: 300px;
    text-align: center;
}

.dog-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.dog-card h3 {
    font-size: 1.8rem;
    margin: 1rem 0;
}

.mais-informacoes {
    background-color: #5f9ea0;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
}



/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    font-size: 1.2rem;
    margin: 0;
}

.informacoes-adicionais {
    display: none;
}

.informacoes-adicionais.mostrar {
    display: block;
}


form {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 5px #666;
}

form h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #ddd;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #3e8e41;
}